#web_bg {
  /* 图片可下载上传到自己的图床也可以删掉*/
  background-image: url("https://cdn.jsdelivr.net/gh/Kthxbi4/images/pictures/bk1.png"),
    -moz-linear-gradient(45deg, #6dd0f2 15%, #f59abe 85%);
  background-image: url("https://cdn.jsdelivr.net/gh/Kthxbi4/images/pictures/bk2.png"),
    -webkit-linear-gradient(45deg, #6dd0f2 15%, #f59abe 85%);
  background-image: url("https://cdn.jsdelivr.net/gh/Kthxbi4/images/pictures/bk3.png"),
    -ms-linear-gradient(45deg, #6dd0f2 15%, #f59abe 85%);
/*  background-image: url("https://cdn.jsdelivr.net/gh/Kthxbi4/images/pictures/bk5.png"),
    linear-gradient(45deg, #6dd0f2 15%, #f59abe 85%);*/
}